
section.cartas {
  /* border: solid lime; */
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    font: var(--Title-sm);
    color: var(--text-title);
    justify-self: center;
    width: 294px;
    text-align: center;
    margin-bottom: 56px;
  }

  & .cards {
    /* border: solid red; */

    max-width: 1280px;
    width: 100%;
    padding-block: 83px 107px;
    align-self: center;
  }

  & .container-card {
    /* border: solid blue; */

    width: fit-content;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    position: relative;
  }

  
  & .card {
    border: 1px solid var(--shape-stroke);
    background-color: var(--shape-base);
    border-radius: 24px;
    width: 288px;
    padding: 32px 32px 28px 32px;
    display: flex;
    flex-direction: column;

    & h3 {
      font: var(--Title-xs);
      color: var(--blue-light);
      margin-bottom: 24px;
    }

    & strong{
      font: var(--Title-lg);
      color: var(--text-title); 

      & span {
        margin-left: 8px;
      }
      
      &::after {
        content: "/mês";
        font-size: 14px;
      }
    }

    & span:nth-child(3){
      font: var(--Body-sm);
      color: var(--text-label);
      margin-block: 8px 70px;
       
    }

    & figure {
      display: flex;
      gap: 5px;
      margin-bottom: 12px;

      & img {
        width: 14px;
      }
      & figcaption {
        font: var(--Body-xs);
        color: var(--text-body);
      }
    }

    & button {
      font: var(--Button);
      color: var(--text-body);
      background-color: var(--blue-dark);
      width: 224px;
      height: 40px;
      border: none;
      border-radius: 8px;
      margin-top: 12px;

      &:hover {
        background-color: var(--blue-mid);
      }
    }
  }

 
  
/* CARD 1 */

  & .card-1-cont {
    /* border: solid yellow; */
    position: relative;
    z-index: 1;
    /* margin-top: 110px; */
    transform: translateX(289px) rotate(8deg);
    
    & .card-1 {
      transform: rotate(-8deg);
      transition: 0.5s;
      opacity: 0;

      & span:nth-child(3) {
        margin-bottom: 90px;
      }
    }


    & .estrela-1 {
      /* border: solid pink; */
      
      display: inline-block;
      transform: rotate(110deg);
      position: absolute;
      left: -25%;
    }
  
    & .tamanho-img {
      & img:nth-child(1) {
        width: 26px;
        margin-right: 8px;
        transition: 0.5s;
      }
  
      & img:nth-child(2) {
        width: 13px;
        transition: 0.5s;
      }
    }

    &:hover {
      z-index: 4;
      & .card-1 {
        background-color: var(--shape-hover);
        transform: translateY(-10px) rotate(-8deg);
        transition: 0.5s;        
        border: 1px solid var(--shape-hover);
        box-shadow: 0px 0px 20px 4px var(--shape-hover);
      }

      & .tamanho-img {
        & img:nth-child(1) {
          transform: rotate(-20deg);
          transition: 0.5s;
        }
    
        & img:nth-child(2) {
          transform: rotate(-20deg);
          transition: 0.5s;
        }
      } 
    }
  }

/* /CARD 1 */
  

/* CARD 2 */

  & .card-2-cont {
    /* border: solid white; */
    position: relative;
    z-index: 3;
    transition: 0.5s;

    & .card-2 {
      
      & > div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & h3 {
          color: var(--pink-light);
        }

        & span:nth-child(2) {
          font: var(--Body-xs);
          color: var(--text-body);
          width: 90px;
          height: 30px;
          background-color: var(--shape-stroke);
          border-radius: 999px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
      
      & button {
        background-color: var(--pink-dark);

        &:hover {
          background-color: var(--pink-base);
        }
      }
    }
    
    & img[src*="coelho"] {
    position: absolute;
    top: -11%;
    left: 12%;
    z-index: -1;
    }

    &:hover {
      transform: translateY(-10px);
      transition: 0.5s;
    
      & .card-2 {
          background-color: var(--shape-hover);
          border: 1px solid var(--shape-hover);
          box-shadow: 0px 0px 20px 4px var(--shape-hover);
        }
    }
  }

/* /CARD 2 */


/* CARD 3 */

  & .card-3-cont {
    /* border: solid lime; */
    position: relative;
    z-index: 2;
    /* margin-top: 110px; */
    transform: translateX(-287px) rotate(-8deg);
    
    & .card-3 {
      transform: rotate(8deg);
      transition: 0.5s;
      opacity: 0;
    
      & span:nth-child(3) {
        margin-bottom: 40px;
      }
    }

    & .estrela-2 {  
      transform: rotate(150deg);
      position: absolute;
      right: -5%;
      bottom: -10%;
    }

    & .tamanho-img {
      & img:nth-child(1) {
        width: 26px;
        margin-right: 8px;
        transition: 0.5s;
      }

      & img:nth-child(2) {
        width: 13px;
        transition: 0.5s;
      }
    }

    &:hover {
      z-index: 4;
      & .card-3 {
        background-color: var(--shape-hover);
        transform: translateY(-10px) rotate(8deg);
        transition: 0.5s;
        border: 1px solid var(--shape-hover);
        box-shadow: 0px 0px 20px 4px var(--shape-hover);
      }

      & .tamanho-img {
        & img:nth-child(1) {
          transform: rotate(-20deg);
          transition: 0.5s;
        }
    
        & img:nth-child(2) {
          transform: rotate(-20deg);
          transition: 0.5s;
        }
      }
    }
  } 

  /* /CARD 3 */
}

.animacao-card-1 {
  animation: sliddUp-card-1 1s ease forwards;
}

.animacao-card-3 {
  animation: sliddUp-card-3 1s ease forwards;
}

.show {
  animation: aparece 1s ease forwards;
}


@keyframes sliddUp-card-1 {
  75% {
    margin-top: 110px;
    transform: translateX(-3px) rotate(0)
  }

  100% {
    margin-top: 110px;
    transform: translateX(0) rotate(0)
  }
}

@keyframes sliddUp-card-3 {
  75% {
    margin-top: 110px;
    transform: translateX(3px) rotate(0)
  }

  100% {
    margin-top: 110px;
    transform: translateX(0) rotate(0)
  }
}


@keyframes aparece {
  to {
    opacity: 1;
  }
  from {
    opacity: 1;
  }
}
