
header {
  border: 0.1px solid;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
 
  & nav {
    /* border: solid yellow; */
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 56px auto 164px auto;
    background-image: url(../assets/icons/logo-horizontal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    

    & > button {
      background-color: var(--pink-dark);
      width: 89px;
      height: 40px;
      border-radius: 8px;
      font: var(--Button);
      color: var(--text-title);
      border: none;
      outline: none;

      &:hover {
        background-color: var(--pink-base);
        border: none;
      }
    }
  }

  & .container {
    /* border: solid blue; */

    & .cabecalho {
      /* border: solid pink; */
      max-width: 1280px;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      & h1 {
        max-width: 656px;
        margin-bottom: 32px;
        opacity: 0;
        animation: texto 3s ease forwards;
      }

      & p {
        font: var(--Body-lg);
        color: var(--text-body);
        margin-bottom: 470px;
        max-width: 568px;
        opacity: 0;
        animation: texto 2s 0.8s ease forwards;
      }
    }
  }
}

.background-hero {
  animation: teste 3s ease forwards;
 }

@keyframes teste {
  0% {
    background: linear-gradient(180deg, rgba(37,8,37,1) 0%, rgba(33,7,33,1) 90%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%);
    
  } 50% {
    background: linear-gradient(180deg, rgba(37,8,37,1) 0%, rgba(33,7,33,0) 90%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%);
   
  } 100% {
    background-image: url(../assets/hero-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@keyframes texto {
  to{
    opacity: 1;
  }
}


/* header - mobile { */
@media (width < 80em) {
  header {
    background-image: url(../assets/hero-background-mobile.png);
    background-size: cover;
    background-position: top;

    & nav {
      /* border: solid yellow; */

      max-width: 375px;
      background-image: url(../assets/icons/logo-symbol.svg);
      margin-bottom: 48px;
      margin-inline: 20px;
      margin-top: 20px;
    }

    & .container {
      /* border: solid pink; */
      height: 484px;
      
      & h1 {
        font-size: 28px;
        width: 335px;
      }

      & p {
        /* border: solid yellow; */
        margin-inline: 20px;  
      }
    }
  }
}