
.hero-2 {
  /* border: solid red; */

  display: flex;
  justify-content: center;

  & .container-hero-2 {
    /* border: solid yellow; */

    max-width: 1280px;
    margin-block: 96px 80px;
    margin-bottom: 151px;
    font: var(--Subtitle);
    color: var(--text-body);

    display: flex;
    flex-direction: column;
  }

  & p {
    max-width: 1136px;
    text-align: center;
    margin-inline: 32px;
  }
  & strong {
    color: var(--blue-light);
  }

  & div {
    /* border: solid pink; */

    display: flex;
    justify-content: space-between;
  
  }

  & .mystery {
    align-self: center;
    width: 88px;
    height: 88px;

    & img[src*="spellbook"] {
      width: 80px; 
      align-self: center;
      transform: rotate(20deg);   
      
      &:hover {
        width: 88px;
      }
    }
  }


  & img[src*="planchette"] {
    width: 80px;
    transform: rotate(100deg);
    margin-left: 38.15px;
  }

  & img[src*="crystal-ball"] {
    width: 72px;  
    transform: rotate(-20deg);
  }

}