
section.livros {
  /* border: solid yellow; */
  margin: 0 auto;

  & .container-livros {
    /* border: solid red; */
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;

    & .header {  
      /* border: solid blue;  */
      margin-inline: auto;
      margin-bottom: 66px; 

      & > div {
        /* border: solid white; */
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 5px;

        & img {
          max-width: 32px;
        }

        & h3 {
          align-self: center;
          font: var(--Title-sm);
          color: var(--text-title);
        }      
      }

      & p {
        font: var(--Body-md);
        color: var(--text-body);
        text-align: center;
      }
    }
    
    & .livro {
      /* border: solid lime; */
      height: 920px;
      text-align: center;
   
      /* Livro principal colina */
        & [src*="book"] {
          width: 467px;
          height: 617px;
          margin-top: 134px;
          position: relative;
          z-index: 7;
        }

        /* Card amarelo */
        & [src*="yellow"] {
          width: 172px;
          height: 536px;
          position: absolute;
          z-index: 6;
          /* transform: translateX(-55px) translateY(-90px) rotate(10deg); */
          /* animation: yellow 1.3s ease forwards; */
          opacity: 0;
        }

        /* Card roxo */
        & [src*="purple"] {
          width: 172px;
          height: 536px;
          position: absolute;
          z-index: 5;
          /* transform: translateX(42px) translateY(10px) rotate(20deg); */
          /* animation: purple 1.5s ease forwards; */
          opacity: 0;
        }

        /* Lata */
        & [src*="pin"] {
          width: 222px;
          height: 254px;
          position: absolute;
          z-index: 4;
          /* transform: translateX(-606px) translateY(588px) rotate(-8deg); */
          /* animation: pin 1.5s ease forwards; */
          opacity: 0;
        }

        /* Seta - Livro em capa dura */
        & div:nth-child(5) {
          position: absolute;
          z-index: 3;
          /* transform: translateX(180px) translateY(-690px); */
          /* animation: seta-capa 1.5s ease forwards; */
          opacity: 0;

          & p {
            font: var(--Body-md);
            color: var(--text-title);
            margin-right: 200px;
            margin-bottom: 23.5px;
          }
        }

        /* Seta - Marca páginas temático */
        & div:nth-child(7) {
          position: absolute;
          z-index: 2;
          /* transform: translateX(820px) translateY(-100px); */
          /* animation: seta-marca 1.5s ease forwards; */
          opacity: 0;

          & p {
            font: var(--Body-md);
            color: var(--text-title);
            margin-right: 130px;
            margin-top: 17.5px;
          }
        }

        /* Seta - Broche exclusivo */
        & div:nth-child(6) {
          position: absolute;
          z-index: 1;
          /* transform: translateX(200px) translateY(-300px); */
          /* animation: seta-broche 1.5s ease forwards; */
          opacity: 0;

          & p {
            font: var(--Body-md);
            color: var(--text-title);
            margin-bottom: 23px;
          }
        }
      }
    } 
  }

  .amarelo {
    animation: yellow 1.3s ease forwards;  
  }

  @keyframes yellow {
    0% {
      opacity: 1;
      transform: translateX(-200px) translateY(20px) rotate(0deg);
    } 60% {
      transform: translateX(-55px) translateY(-93px) rotate(10deg);
    } 100% {
      transform: translateX(-55px) translateY(-90px) rotate(10deg);
      opacity: 1;
    }
  }

  .roxo {
    animation: purple 1.5s ease forwards; 
  }

    @keyframes purple {
      0% {
        opacity: 1;
        transform: translateX(-250px) translateY(15px) rotate(0deg);
      } 50% {
        transform: translateX(44px) translateY(7px) rotate(20.5deg);
      } 100% {
        transform: translateX(42px) translateY(10px) rotate(20deg);
        opacity: 1;
      }
    }

    .lata {
      animation: pin 1.5s ease forwards;
    }

    @keyframes pin {
      0% {
        opacity: 1;
        transform: translateX(-436px) translateY(450px) rotate(0deg);
      } 60% {
        transform: translateX(-608px) translateY(590px) rotate(-8deg);
      } 100% {
        transform: translateX(-606px) translateY(588px) rotate(-8deg);
        opacity: 1;
      }
    }
  
    .seta-marca {
      animation: seta-marca 1.5s ease forwards;
    }

    @keyframes seta-marca {
      0% {
        opacity: 1;
        transform: translateX(610px) translateY(-350px) scale(0.5);
      } 60% {
        transform: translateX(805px) translateY(-100px);
      } 100% {
        transform: translateX(800px) translateY(-100px);
        opacity: 1;
      }
    }

    .seta-broche {
      animation: seta-broche 1.5s ease forwards;
    }

    @keyframes seta-broche {
      0% {
        opacity: 1;
        transform: translateX(430px) translateY(-430px) scale(0.5);
      } 60% {
        transform: translateX(197px) translateY(-300px);
      } 100% {
        transform: translateX(200px) translateY(-300px);
        opacity: 1;
      }
    }

    .seta-capa {
      animation: seta-capa 1.5s ease forwards;
    }

    @keyframes seta-capa {
      0% {
        opacity: 1;
        transform: translateX(390px) translateY(-550px) scale(0.5);
      } 60% {
        transform: translateX(180px) translateY(-696px);
      } 100% {
        transform: translateX(180px) translateY(-693px);
        opacity: 1;
      }
    }